<!DOCTYPE html>
<html>
        <head>
            <title>
                Contact
            </title>
            <link rel="stylesheet" type="text/css" href="Contact.css">   
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
            bootstrap.min.css">         
        </head>
        <body>
                <ul>
                        <li><a href="Potukuru_DurgaCharan">Home</a></li>
                        <li><a href="MyChoice">Wage Calculator</a></li>
                        <li><a href="contact">Contact</a></li>
                        <li><a href="index">GuestBook</a></li>
                </ul>
        <div>        
            <form method="post" role="form">
                Email ID:<br><input type="text" name="email" id=boxx><br>
                Full name:<br><input type="text" name="name" id=boxy><br>
                Your Query:<br><input type="text" name="query" id=query><br>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary"></div>              
            </form>
        </div>
        <a href="https://github.com/charan2208">
        <img src="GitHub-Logo.png" alt="GitHub" class=pics>
        </a>
        <a href="https://bitbucket.org/charan2208/">
        <img src="BitBucket_SVG_Logo.svg.png" alt="BitBucket" class=pics>
        </a>
        <a href="https://www.linkedin.com/in/durga-charan-179051ab">
        <img src="linkedin.png" alt="LinkedIN" class=pics>
        </a>
        </body>
    </html>