body{
    background-color: #FFDAB9;
}

ul {
    list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
	padding: 16px 20px;
	color: white;
}