<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>M07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" href="/gb.css" type="text/css">
</head>
<body class="container">
        <ul>
                <li><a href="Potukuru_DurgaCharan">Home</a></li>
                <li><a href="MyChoice">Wage Calculator</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="index">GuestBook</a></li>
        </ul>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>