<!DOCTYPE html>
<html>
<head>
<title>Charan</title>
<link rel="stylesheet" type="text/css" href="Potukuru_durgacharan.css">
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css"> -->
</head>
<body>
        <ul>
                <li><a href="/">Home</a></li>
                <li><a href="MyChoice">Wage Calculator</a></li>
                <li><a href="Contact">Contact</a></li>
                <li><a href="index">GuestBook</a></li>
        </ul>
<article>
<header>
 <div>
  <h1 id="head">Durga Charan Potukuru</h1>      
  <img id="image" src="charan.jpg" class="img-circle" alt="CHARAN">
 </div>
</header>

 <section>
  <h4 class="heading">My Background</h4>
  <p class="white">I'm Charan from Hyderabad, India.<br>I graduated in the stream Information Technology from JBIET in may 2017.</p>
 </section>
 <section>
  <h4 class="heading">My Plans</h4>
  <p class="white">I want to be an Entrepreneur.<br>I like developing Android applications.<br>So, I would like to work as a developer until I make everything ready for my startup and then start living my dream.</p>
 </section>
 <section>
  <h4 class="heading">My Interests</h4>
  <p class="white">I like developing android applications.<br>I like playing Table Tennis and Chess.</p>
 </section>
 <section>
         <P>Welcome to NWMSU:</P> 
                <video width="30%" controls>
                      <source src="NWMSU.mp4" type="video/mp4">
                </video>
 </section>
</article>
 <footer><h4 id="footer">Contact: +1-(660)528-0794&emsp;&emsp;&emsp;&emsp;<br>S530748@nwmissouri.edu</h4></footer>
</body>
</html>